{% extends 'base.html' %} 

{% block content %}


<center>
<form action="" method="POST" >
    <br>
<h1> Thank You for Submitting Your Application.</h1>
  <br>
<h4>A confirmation email has been sent out via the email address that was provided.</h4>
<br>
<p><strong>Note:</strong> You will be notified in the near future if the information that was submitted needed to be updated</p>
  
{% comment %} <a id="back" class="btn btn-light btn-lg" href="{% url 'partnersignature' %}"
></a> {% endcomment %}
</center
{% endblock %}
    