{% extends 'base.html' %} {% block content %}
<center>
  <div class="container">
    <h1>Personal Information</h1>
    <h1>Personal Information</h1>
    <h1>Personal Information</h1>

    <form action="" method="POST" novalidate>
      {%csrf_token%} {{form.fname}} {{form.lname}} {{form.location}}
      {{form.phone}} {{form.email_address}}

      <a id="back" class="btn btn-light btn-lg" href="{% url 'home' %}">Back</a>

      <input
        type="submit"
        value="Next"
        name=""
        id=""
        class="btn btn-dark btn-lg"
        style="background-color: rgba(38, 36, 36, 0.429)"
      />
    </form>
  </div>
</center>
{% endblock %}
