{% extends 'base.html' %} {% block content %}
<center>
  <div class="container">
    <h1>Personal Information test test</h1>

    <form method="POST" novalidate>
      {%csrf_token%} {{form.as_p}}

      <a
        id="back"
        class="btn btn-light btn-lg"
        href="{% url 'jone_humanceresources' %}"
        >Next</a
      >

      {% comment %}
      <input
        type="submit"
        value="Next"
        name=""
        id=""
        class="btn btn-dark btn-lg"
        style="background-color: rgba(38, 36, 36, 0.429)"
      />
      {% endcomment %}
    </form>
  </div>
</center>
{% endblock %}
